
@{
    ViewBag.Title = "EmpConfirm";
}

<h2>Employee Confirmation</h2>
<p>You have just added the following information to the new employee database:</p>
<p>ID: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Salary:$ @Model.Salary</p>

