<div class="jumbotron">
    <h1>Missing Detective Detective Agency</h1>
    <p>
        <img src="~/Content/detective.png"
             alt="detective looking through a magnifying glass"
             style="float:right;width:50%;" />
    </p>
    <p class="lead">NonDiscrete, UnAffordable, InEffective, UnEfficient</p>
    <p>Rated #100 in the world</p>
</div>