
@{
    ViewBag.Title = "Missing Detective Agency Employees";
    string[] staff = { "Fe Man", "Aunt Man", "Cptn Marrycuh" };
    int staffLen = staff.Length;
    string[] managers = { "Hawk", "Brown Recluse", "ThunderHammer" };
    int managerLan = managers.Length;
    string[] officers = { "Modern Pirate", "Super Stan Lee" };
    int officerLen = officers.Length;
    var x = 0;
}
<hr/>
<img src="~/Content/detectives.jpg" alt="Off Brand Marvel Dectectives" style="float:right;width:200px; outline:5px solid black; outline-offset:10px;"/>
<h2>Missing Detective Agency Staff</h2>
@for (x = 0; x < staffLen; x++)
{<p>@staff[x]</p>}
<hr/>
<h2>Missing Detective Agency Managers</h2>
@foreach (var person in managers)
{
    <p>@person</p>
}
<hr/>
<h2>Missing Detective Agency Corporate Office</h2>
@{ 
    x = 0;
    while (x < officerLen)
    {
        <p>@officers[x]</p>
        x += 1;
    }
  }
<hr/>

