
<h2>New Employee Form</h2>
<form name="newemp" method="post">
    <p>ID: <input type=number name="empID" id="empID" /></p>
    <p>Name: <input type="text" name="empName" id="empName" /></p>
    <p>Salary: <input type="number" placeholder="$0.00" name="empSal" id="empSal" /></p>
    <button name="submit" id="submit">Submit</button>
</form>